[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Pwnable
Exec=/home/pi/Desktop/Pwn/src/app.sh
Icon=/home/pi/Desktop/Pwn/src/pwnlogos/thumbnail_PwnableLogo-06.png
StartupNotify=true
Terminal=false
Name[en_US]=Pwnable
